<div class="card p-3">

    <div [ngClass]="{'w-100 p-5 justify-content-center': !depositsList.length}" class="d-flex justify-content-end">
        <button pbutton="" icon="pi pi-plus" label="New"
            class="float-end p-element p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1 p-button p-component"
            (click)="showAddModal()">
            <span class="p-button-icon p-button-icon-left pi pi-plus" aria-hidden="true"></span>
            <span class="p-button-label">New</span>
        </button>
    </div>

    <ng-container *ngIf="depositsList.length">
        <app-transaction-list [dataList]="depositsList" [activePage]="activePage" [totalData]="totalData">
        </app-transaction-list>
        <!-- <p-table [value]="depositsList" [totalRecords]="totalData" [lazy]="true" [first]="(10*currentPage)"
            (onPage)="onPageChange($event)" [resizableColumns]="true" styleClass="p-datatable-gridlines"
            [tableStyle]="{'min-width': '40rem'}" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn style="width:20%">Date</th>
                    <th pResizableColumn style="width:20%">Account ID</th>
                    <th pResizableColumn style="width:20%">Transaction ID</th>
                    <th pResizableColumn style="width:20%">Amount</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-deposit>
                <tr>
                    <td> {{ deposit?.transactionDate}}</td>
                    <td> {{ deposit?.accountId}}</td>
                    <td> {{ deposit?.transactionId}}</td>
                    <td class="fw-600"> ${{ deposit?.amount}}</td>
                </tr>
            </ng-template>
        </p-table> -->
    </ng-container>
</div>

<ng-template #emptyScreen>
    <div class="p-5">
        <app-empty-screen></app-empty-screen>
    </div>
</ng-template>