/**
  * Below are all the variables declared related to colors
*/

$primary-font: 'Poppins';

$primary-color: #6366f1;
$bg-color: #eff3f8;
$bd-color: #dfe7ef;
$card-shadow-color: #dde0ff8a;

$card-border: 1px solid $bd-color;
$card-bg-color: #fff;
$card-shadow: 0px 4px 30px $card-shadow-color;
$card-bd-radius: 12px;