<div class="login-container">
    <div class="card">
        <h3 class="fw-600 text-center mb-5">Login</h3>

        <form [formGroup]="loginForm" (ngSubmit)="submit()"
            class="d-flex flex-column gap-3 align-items-center justify-content-center login-form w-100">
            <div class="form-group w-100">
                <input formControlName="email" [class.input-invalid]="isFormSubmitted && FormControl['email'].invalid"
                    class="w-100" type="email" pInputText placeholder="Email">
                <div *ngIf="isFormSubmitted && FormControl['email'].invalid" class="error-msg">
                    <p *ngIf="FormControl['email'].hasError('required')">{{errorMessage.required('Email')}}</p>
                    <p *ngIf="FormControl['email'].hasError('email')">{{errorMessage.invalid('Email')}}</p>
                </div>
            </div>
            <div class="form-group w-100">
                <p-password formControlName="password"
                    [class.input-invalid]="isFormSubmitted && FormControl['password'].invalid" class="p-password w-100"
                    [toggleMask]="true" [feedback]="false" placeholder="Password" styleClass="w-100">
                </p-password>
                <div *ngIf="isFormSubmitted && FormControl['password'].invalid" class="error-msg">
                    <p *ngIf="FormControl['password'].hasError('required')">{{errorMessage.required('Password')}}</p>
                </div>
            </div>
            <p-button class="w-100" styleClass="w-100" type="submit" label="Login"></p-button>
        </form>
        <span class="mt-3">Don't have an account? <a routerLink="/auth/signup" href="javascript::" class="color-primary">Register</a> </span>
    </div>
</div>